{% extends "base.html" %}
{% block page_content %}
<div class="col-md-8 offset-md-2">
   

<h2 class="title is-2">Trabajos de Ejemplo</h2>

<div class="p-5 bg-white"></div> 

<div class="card text-center">
  <div class="card-header">
    Pentest - Deteccion de Amenazas
  </div>
  <div class="card-body">
	  <h5 class="card-title">Persistencia, Escalada de privilegios</h5>
    <p class="card-text"></p>
    <a href="http://127.0.0.1:8000/blog/persist/" class="btn btn-primary">Ir</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

<div class="p-2 bg-white"></div>

<div class="card text-center">
  <div class="card-header">
    Red - Hacking
  </div>
  <div class="card-body">
    <h5 class="card-title">Creando tuneles con chisel</h5>
    <p class="card-text"></p>
    <a href="http://127.0.0.1:8000/blog/chisel/" class="btn btn-primary">Ir</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

<div class="p-2 bg-white"></div>

<div class="card text-center">
  <div class="card-header">
    Pentest - Hacking
  </div>
  <div class="card-body">
    <h5 class="card-title">Evasión de defensa, Ejecución indirecta de comandos</h5>
    <p class="card-text"></p>
    <a href="http://127.0.0.1:8000/blog/DefEv/" class="btn btn-primary">Ir</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

<div class="p-2 bg-white"></div>

 <div class="card text-center">
  <div class="card-header">
    Detección de Amenazas
  </div>
  <div class="card-body">
    <h5 class="card-title">Detección de MSBuild.exe</h5>
    <p class="card-text"></p>
    <a href="http://127.0.0.1:8000/blog/Detect/" class="btn btn-primary">Ir</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>   

<div class="p-2 bg-white"></div>

<div class="card text-center">
	<div class="card-header">
    Detección de Amenazas
  </div>
  <div class="card-body">
    <h5 class="card-title">Detección de Movimiento Lateral</h5>
    <p class="card-text"></p>
    <a href="http://127.0.0.1:8000/blog/Mov_lateral" class="btn btn-primary">Ir</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

<div class="p-2 bg-white"></div>

<div class="card text-center">
	<div class="card-header">
    Pentest - Hacking
  </div>
  <div class="card-body">
    <h5 class="card-title">Buffer overflow exploit manual</h5>
    <p class="card-text"></p>
    <a href="http://127.0.0.1:8000/blog/Buffer" class="btn btn-primary">Ir</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

<div class="p-2 bg-white"></div>

<div class="card text-center">
  <div class="card-header">
    Detección de Amenazas
  </div>
  <div class="card-body">
    <h5 class="card-title">Detección del uso de la herramienta Hydra</h5>
    <p class="card-text"></p>
    <a href="http://127.0.0.1:8000/blog/hydra" class="btn btn-primary">Ir</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

<div class="p-2 bg-white"></div>

<div class="card text-center">
  <div class="card-header">
    Django - Python, HTML, CSS
  </div>
  <div class="card-body">
    <h5 class="card-title">Red Social APP</h5>
    <p class="card-text"></p>
    <a href="http://127.0.0.1:8000/blog/soc" class="btn btn-primary">Ir</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

<div class="p-2 bg-white"></div>

<div class="card text-center">
  <div class="card-header">
    C - Python
  </div>
  <div class="card-body">
    <h5 class="card-title">Web Scrap, C y Python</h5>
  <p class="card-text"></p>
  <a href="http://127.0.0.1:8000/blog/scrap" class="btn btn-primary">Ir</a>
</div>
 <div class="card-footer text-muted">
 </div>
</div>

<div class="p-2 bg-white"></div>

<div class="card text-center"> 
	<div class="card-header">
   Programación 
  </div>
  <div class="card-body">
    <h5 class="card-title">Programación C (42 Network), Minitalk</h5>
    <p class="card-text"></p>
    <a href="http://127.0.0.1:8000/blog/Minitalk" class="btn btn-primary">Ir</a>
  </div>
  <div class="card-footer text-muted">
  </div>
</div>

</div>

<div class="p-5 bg-white"></div>

{% endblock %}
